################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/557_TwoPointers/557_TwoPointers/.vs/557_TwoPointers
/557_TwoPointers/557_TwoPointers/557_TwoPointers/bin/Debug/net8.0
/704_BinarySearch/.vs/704_BinarySearch
/349_BinarySearch/.vs/349_BinarySearch
/349_BinarySearch/.vs/ProjectEvaluation
